body {
    font-family:"Segoe UI",Arial, sans-serif;
    margin: 0;
    padding:0;
    background-color: #fafafa;
    color: #222;
}

/* header */
header {
    background-color: #0b3d91;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight:bold;
}

.logo span {
    color: #ffcc00;
}
nav ul {
    list-style:none;
    margin:0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin:0 12px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight:500;
}

nav a:hover{
    border-bottom:2px solid #ffcc00;
}
nav a.active {
    border-bottom:2px solid #ffcc00;
}

/* hero section */
.hero {
    background-color: #e8f0fe;
    text-align: center;
    padding:80px 20px;
}

.hero h1 {
    font-size: 40px;
    color: #0b3d91;
}

.hero p {
    font-size: 18px;
    margin:10px 0 20px;
}

.hero button {
    background-color: #0b3d91;
    color: white;
    border:none;
    padding:12px 20px;
    cursor: pointer;
}

/* services section */
.services-preview, .services-page {
    padding: 50px 20px;
    text-align:center;
}
.service-container {
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 20px;
    margin-top: 30px;
}

.service-box, .service-card {
    background-color: white;
    border:1px solid #ddd;
    padding:25px;
    width: 280px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.service-box h3, .service-card h3 {
    color: #0b3d91;
}
/* Abiot page */
.about {
    padding:50px 30px;
    background-color: white;
    text-align:center;
}

.about-grid {
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top:20px;
    flex-wrap: wrap;
}

.about-grid div {
    width: 280px;
    border:1px solid #ddd;
    padding:20px;
    background-color: #f5f8ff;
}

/* contact page */
.contact {
    padding:50px 20px;
    background-color: white;
    text-align:center;
}

form {
    margin: 20px auto;
    width:300px;
    display:flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
    text-align:left;
}
input, textarea {
    padding:8px;
    border:1px solid #bbb;
    margin-bottom: 10px;
    font-family:inherit;
}
button {
    background-color: #0b3d91;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* footer */
footer {
    background-color: #0b3d91;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

